USE [KanserTakipDB]
GO
/****** Object:  Table [dbo].[HastaAnalizleri]    Script Date: 30.12.2025 16:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HastaAnalizleri](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](100) NULL,
	[Sonuc] [nvarchar](50) NULL,
	[GuvenOrani] [nvarchar](50) NULL,
	[Tarih] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HastaAnalizleri] ON 

INSERT [dbo].[HastaAnalizleri] ([ID], [AdSoyad], [Sonuc], [GuvenOrani], [Tarih]) VALUES (52, N'AAA', N'RİSKLİ', N'%98,65', CAST(N'2025-12-23T15:36:32.813' AS DateTime))
INSERT [dbo].[HastaAnalizleri] ([ID], [AdSoyad], [Sonuc], [GuvenOrani], [Tarih]) VALUES (53, N'AAA', N'RİSKLİ', N'%98,65', CAST(N'2025-12-23T15:36:33.833' AS DateTime))
INSERT [dbo].[HastaAnalizleri] ([ID], [AdSoyad], [Sonuc], [GuvenOrani], [Tarih]) VALUES (54, N'AAA', N'RİSKLİ', N'%98,65', CAST(N'2025-12-23T15:36:35.043' AS DateTime))
SET IDENTITY_INSERT [dbo].[HastaAnalizleri] OFF
GO
